*~
.#*
*.*#
.*

*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.py[cod]
*.egg
*.manifest
*.spec
*.cover
*.py,cover
*.mo
*.pot
*.log
*.egg-info/
*.autosave
*.s
*.core
*.moc
*.orig
*.rej
*.so.*
*_pch.h.cpp
*_resource.rc
*.pro.user*
*.flc
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*
*.Debug
*.Release
*.pyc
*.sublime-project
*.sublime-workspace
*.komodoproject
*.sql
*.sqlite
*.com
*.class
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.der
*.key
*.pem
*.res
*.rc
*.sage.py

.Python
.installed.cfg
.coverage.*
.cache
.coverage
.webassets-cache
.scrapy
.env
.venv
.spyderproject
.spyproject
.ropeproject
.dmypy.json
.ipynb_checkpoints
.qmake.cache
.qmake.stash
.pdm.toml
.DS_*
.DS_Store
.*.swp

.tox/
.nox/
.eggs/
.mypy_cache/
.pyre/
.pytype/
.idea/
.hypothesis/
.pytest_cache/
.pybuilder/

share/python-wheels/
node_modules/
bower_components/
develop-eggs/
docs/_build/
profile_default/
env.bak/
venv.bak/
dmypy.json
cython_debug/

__pycache__/
__pypackages__/

db.sqlite3
db.sqlite3-journal
ipython_config.py
celerybeat-schedule
celerybeat.pid
ehthumbs.db
Thumbs.db
pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
local_settings.py
test.*

!.gitignore