body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  color: blue;
}

h2 {
  color: white;
  background-color: blue;
}

span {
  font-size: 200%;
}