* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;

  /* Fallback background-image for browsers that do not support multi-image declarations */
  background-image: url("top-image.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  /* Multi-image declaration in background-image for modern browsers, that precedes over the fallback background through cascading */
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    no-repeat top center/contain url("top-image.png"), no-repeat bottom center/contain url("bottom-image.png"), white;

  border-block: 1mm solid #ff0000;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url("logo.png");

  /* Fallback rounded box-shadow implementation for old browsers that do not support CSS filters */
  background-size: contain;
  border-radius: 50%;
  box-shadow: 2px 2px 2px black;

  /* CSS filters to achieve rounded box-shadow around logo image for modern browsers */
  filter: drop-shadow(2px 2px 2px black);
}

/* Your CSS below here */
